
# Use "production" or "development".
NODE_ENV=production

# Configure interface where the application listen for HTTP requests.
PORT=3000
HOST=127.0.0.1

# URL of Solr instance, should end with "/solr".
SOLR_URL=http://localhost:8983/solr

# URL of CouchDB instance.
COUCHDB_URL=http://localhost:5984

# Set to 1 if the application should also server files from "assets" directory.
HTTP_SERVE_STATIC=1

# Set how often should label cache be reloaded.
LABEL_CACHE_RELOAD_CRON= "*/5 * * * *"

# URL of SPARQL endpoint with quality measurements.
QUALITY_SPARQL_URL=http://localhost:8890/sparql

# Optional path to gov-design-system to be served from local directory.
DESIGN_SYSTEM_FOLDER=./.design-system/

# URL of the dataset and catalog registration forms.
CLIENT_CATALOG_FORM_URL=https://data.gov.cz/formulář/

# URL of the application registration from.
CLIENT_APPLICATION_FORM_URL=https://data.gov.cz/aplikace-registrace

# URL of the suggestion form.
CLIENT_SUGGESTION_FORM_URL=https://data.gov.cz/návrhy-registrace

# Template with "{}" e.g. https://example.com/describe/?uri={}
# If not empty this value is used as a template for dereferencable IRI in the UI.
CLIENT_DEREFERENCE=""

# URL of dashboards.
CLIENT_DASHBOARD_PUBLISHER_DAILY=
CLIENT_DASHBOARD_PUBLISHER_MONTHLY=

# URL of SPARQL editor and the default query.
CLIENT_SPARQL_EDITOR_URL=https://yasgui.triply.cc/
CLIENT_SPARQL_DEFAULT_QUERY="SELECT ?typ (COUNT(?s) AS ?pocet)
WHERE {
  ?s a ?typ
}
GROUP BY ?typ
ORDER BY DESC(COUNT(?s))
LIMIT 10"

# URL template with "{}" of the class and properties dashboard.
CLIENT_DATA_SERVICE_CLASS_AND_PROPERTIES_TEMPLATE=

# Configuration of Matomo.
CLIENT_MATOMO_URL=
CLIENT_MATOMO_SITE_ID=

# Configuration of connection to LKOD validation website.
CLIENT_CATALOG_VALIDATOR_LANDING_PAGE=https://datagov-cz.github.io/lkod-validator/
CLIENT_CATALOG_VALIDATOR_RUN_VALIDATION=https://datagov-cz.github.io/lkod-validator?catalog={}

#
# Concept related configuration.
#

# URL of a SPARQL endpoint to query for skos:prefLabel for concepts.
CONCEPT_SPARQL=https://slovník.gov.cz/sparql

# URL template with "{}" for concept viewer.
CONCEPT_VIEWER_URL_TEMPLATE=https://slovník.dia.gov.cz/popisujeme/concept/nkd?iri={}
